{% extends "base.html"%}

{% block content %}
<style>
table, td, td {
  border:1px solid black;
}
</style>
<h1>Lista Gości</h1>
<h5><a href={% url "homepage" %}>Strona Główna</a> </h5>

    <table>
    <tr>
        <td><b>L.P.</b></td>
        <td><b>Imię i nazwisko</b></td>
        <td><b>Strona</b></td>
    </tr>
    {% for guest in guest_list %}
    {% if guest.confirmation %}
        <tr>
            <td>{{ page_guest.start_index|add:forloop.counter0 }}.</td>
            <td>{{ guest.name }} {{ guest.surname }}</td>
            <td>{{ guest.side|default:"-" }}</td>
        </tr>
    {% endif %}
    {% endfor %}
    </table>
{% endblock %}
